.Home{
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
    min-height: 85vh;
    background-size: cover;
    opacity: 0.7;
    color: black;
    font-family: 'Pacifico', cursive;
}
.header-text h2{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}
.header-text{
    padding-top: 80px;
    padding-left: 80px;
}
