.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(6, 28, 50);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  opacity: 0.9;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navbar-brand {
  font-size: xx-large;
  font-family: "Cedarville Cursive", cursive;
}

.navbar a{
  color: white;
}
