
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Coming+Soon&family=Kaushan+Script&family=Metal+Mania&family=Pacifico&family=Style+Script&display=swap');

a:hover{
    cursor: pointer;
    z-index: 999;
}
